*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    font-family: 'Open Sans', serif;
}

body{
    max-width: 1200px;
    margin: auto;
    background-color: #F8F8F8;
    
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
    font-family: Quicksand, sans-serif;
    text-align: center;
    color: #2e7d32;

}

img{
    max-width: 100%;
    height: auto;
}

header, main, footer{
    padding: 1rem;
}

/*********************** HEADER ******************/
header{
    display: grid;
    grid-template-columns: 120px auto 50px;
    align-items: center;
}

.logo{
    display: block;
    width: 100%;
    filter: brightness(1);
    mix-blend-mode: multiply;
    -webkit-filter: brightness(1);
}

.business_name{
    font-size: 2rem;
}

.nav{
    grid-column: -1/1;
    display: none;
}

#nav.show{
    display: block;
}
.nav_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 90%;
    margin: auto;
}

.list_item{
    display: block;
    border-radius: 2px;
    margin: auto;
    width: 100%;
}

.nav_link{
    display: block;
    text-align: center;
    padding: .8rem 0;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}

.nav_link::after{
    position: absolute;
    content: "";
    left: 25%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #079225;
    transition: width .3s ease;
}

.nav_link:hover{
    color: rgba(82, 50, 27, 0.89);
    transition: color .3s ease;

}

.nav_link:hover::after{
    width: 50%;

}

/****************** HAMBURGER MENU *************/
.ham_btn{
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: .2rem .4rem;
    grid-column: 3/4;
    grid-row: 1;
}

.ham_btn::before{
    content: "\2630";
}

.ham_btn.show::before{
    content: "\00D7";
}

/****************** HERO ****************/
.hero_container{
    padding: 1rem;
}

.hero{
    display: block;
    width: 90%;
    max-height: 550px;
    object-fit: cover;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0 0 30px 0 #0006;
}

/******************** MAIN ****************/

h1{
    margin-bottom: 40px;
}

.petsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem .8rem;
    min-height: 2000px;
}

.pet{
    display: flex;
    flex-direction: column;
    background-color: #e8f5e9 ;
    padding: .5rem;
    gap: .3rem;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 25px 0 #0003;
    transition: transform .5s ease;
}

.pet img{
    display: block;
    margin: auto;
    width: 90%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 4px;
}

.pet button{
    margin: .7rem 0;
    cursor: pointer;
    align-self: center;
    font-size: 1.05rem;
    background-color: #fdd835bd;
    opacity: .9;
    border: none;
    border-radius: 4px;
    padding: .3rem 1rem;
}

.pet button:hover{
    opacity: 1;
}

.pet:hover{
    transform: scale(1.02);
}

#dialog{
    width: 80%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: .5rem 1rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 #eeea;
}

#dialog::backdrop{
    background-color: #0005;
}
.dialogContent{
    display: grid;
    grid-template-areas: 
    "name"
    "img"
    "description"
    "data";
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}

.pet_name{
    grid-area: name;
    font-size: 1.5rem;
}

.pet_img{
    grid-area: img;
    border-radius:6px ;
}
.pet_description{
    grid-area: description;
}
.pet_data{
    grid-area: data;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.closeButton{
    position: absolute;
    top: -1rem;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton::after{
    content: "\00D7";
    font-size: 3rem;
}

.cta{
    margin-top: 40px;
}

.cta h3{
    text-align: left;
    margin-bottom: 15px;
}

.cta a{
    display: block;
    text-align: center;
    width: 180px;
    background-color: #084203;
    color: #fff;
    text-decoration: none;
    padding: .5rem .8rem;
    border-radius: 5px;
    cursor: pointer;
    margin: .5rem auto;
}

.cta a:hover{
    background-color: #0d6804;
}


/*************** FOOTER ********************/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px
}

.contact, .legal{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.social_media{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.social_media h3{
    flex: 1 0 100%
}

.social_media div{
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.social_media img{
    border: 1px solid gray;
    border-radius: 3px;
    width: 60px;
    padding: .4rem;
}

.social_media img:hover{
    background-color: rgba(219, 218, 218, 0.788);
}

/***************** MEDIA QUERIES ****************/

@media screen and (min-width: 900px) {
    .steps_container {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
    .nav_link{
        width: 100px;
    }

    header{
        grid-template-columns: 120px 300px auto;
    }
    
    .nav{
        display: block;
        grid-row: 1;
        grid-column: 3/4;
    }
    
    .nav_list{
        flex-direction: row;
        width: 100%;
        font-size: .8rem;
        gap: 1rem;
        justify-content: start;
        padding: 0 .5rem;
    }
    .list_item{
        max-width: 150px;
    }
    .nav_link{
        width: 100%;
        text-align: center;
    }
    .nav_link::after{
        left: 2%;
    }

    .nav_link:hover::after{
        width: 98%;
    }

    .ham_btn{
        display: none;
    }

    footer{
        margin: auto;
        flex-direction: row;
        justify-content: center;
    }
    footer div{
        flex: 1 0 270px;
        align-content: center;
    }

    .social_media{
        align-content: start;
    }
}

@media screen and (min-width: 800px) {
    #dialog{
        max-width: 800px;
    }
    .dialogContent{
        grid-template-areas: 
        "name name"
        "img description"
        "img data";
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2rem;
    }

    .pet_img{
        width: 100%;
    }
}