*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', serif;
}

body{
    max-width: 900px;
    margin: auto;
}
main{
    padding: 10px 1.5rem;
}
h1, h2{
    color: #2e7d32;
    font-family: Quicksand, sans-serif;
}

h1{
    text-align: center;
    margin-top: 20px;
}
section{
    margin: 30px 0;
    padding: 0 .5rem;
    background-color: #e8f5e9;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #fdd835bd;
    box-shadow: 0 0 15px 0 #0006;
}

ul{
    margin-left: 3rem;
}

section div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

figure{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px 5px;
    gap: .3rem;
    border: 1px solid #3339;
}

figure, img{
    border-radius: 4px;
}

figcaption{
    font-size: .9rem;
}

footer{
    text-align: center;
    margin-bottom: 2rem;
}